<h1>Sample App</h1>

<p>
  This is the home page for the Newsfeed App.
</p>

<div class="newsScroller" id="newsScroll">
    <ul>
        <li>
            <a class="title" href="#">My Story 1</a>
            <span class="desc">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </span>
            <a class="link" href="#">More...</a>
        </li>
        <li>
            <a class="title" href="#">My Story 2</a>
            <span class="desc">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </span>
            <a class="link" href="#">More...</a>
        </li>
        <li>
            <a class="title" href="#">My Story 3</a>
            <span class="desc">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </span>
            <a class="link" href="#">More...</a>
        </li>
        <li>
            <a class="title" href="#">My Company's News Ticker</a>
            <span class="desc">
                &copy; 2011 My Company
            </span>
        </li>
    </ul>
</div>